<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Memorial</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'carousel/css/styles.css' %}">
    <style>
        body {
            background-image: url("{% static 'carousel/img/backgrounds/carousel_background.jpg' %}");
        }
    </style>
</head>
<body>
    <div id="input-area">
        <button id="crud-button">Administrar Familiares</button>
    </div>
    <div id="drag-container">
        <div id="spin-container">
            {% for image in images %}
            <div class="item" data-familiar-id="{{ familiar.id_familiar }}">
                <a href="{{ image }}">
                    <img src="{{ image }}" alt="{{ familiar.nombre_familiar }}">
                    <p>{{ familiar.nombre_familiar }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div id="ground"></div>
    </div>

    <!-- CRUD overlay -->
    <div id="crud-overlay" class="crud-overlay">
        <div class="crud-menu">
            <span id="crud-close-button" class="crud-close-button">&times;</span>
            <h2>Administrar Familiares</h2>
            <button id="crud-add-button" class="crud-menu-button">Añadir imágenes</button>
            <button id="crud-remove-button" class="crud-menu-button">Eliminar Familiar</button>
            <button id="crud-edit-button" class="crud-menu-button">Editar Familiar</button>

            <!-- Add Image Form -->
            <div id="add-familiar-form" class="crud-form">
                <form id="add-image-form">
                    <input type="file" id="new-image" accept="image/*" multiple required>
                    <input type="hidden" id="familiar-id" value="{{ familiar.id_familiar }}">
                    <button type="submit">Añadir imagen</button>
                </form>
            </div>

            <!-- Remove Familiar List -->
            <div id="remove-familiar-list" class="crud-form">
                <ul id="remove-list"></ul>
            </div>

            <!-- Edit Familiar List -->
            <div id="edit-familiar-list" class="crud-form">
                <ul id="edit-list"></ul>
            </div>
        </div>
    </div>

    <!-- Lightbox for viewing images and comments -->
    <div class="lightbox" id="lightbox">
        <img src="" alt="Lightbox Image">
        <p class="overlay-caption"></p>
        <div id="comment-section">
            <ul id="comment-list"></ul>
            <form id="comment-form">
                <textarea name="comment" placeholder="Add a comment" required></textarea>
                <button type="submit">Post Comment</button>
            </form>
        </div>
    </div>

    <script src="{% static 'carousel/js/scripts.js' %}"></script>
</body>
</html>
