{% extends 'dashboard/base.html' %}

{% block content %}


<div class="container mt-5">
    <div class="container">
        <h1>Estadísticas de Visitas</h1><hr>
        <canvas id="visitasChart"></canvas>
    </div>
    <script>
        var ctx = document.getElementById('visitasChart').getContext('2d');
        var visitasChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for familiar in familiares %}'{{ familiar.nombre_familiar }} {{ familiar.apellidos_familiar }}', {% endfor %}],
                datasets: [{
                    label: 'Número de visitas',
                    data: [{% for familiar in familiares %}{{ familiar.visitas }}, {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(199, 199, 199, 0.2)',
                        'rgba(83, 102, 255, 0.2)',
                        'rgba(60, 179, 113, 0.2)',
                        'rgba(255, 69, 0, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(199, 199, 199, 1)',
                        'rgba(83, 102, 255, 1)',
                        'rgba(60, 179, 113, 1)',
                        'rgba(255, 69, 0, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false,
                        position: 'top',
                        labels: {
                            font: {
                                size: 14,
                                weight: 'bold'
                            }
                        }
                    },
                    title: {
                        display: false,
                        text: 'Número de visitas por Familiar',
                        font: {
                            size: 33,
                            weight: 'bold'
                        }
                    },
                    datalabels: {
                        anchor: 'first',
                        align: 'end',
                        formatter: function(value, context) {
                            return value;
                        },
                        font: {
                            size: 33,
                            weight: 'bold',
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                },
                animation: {
                    duration: 2000,
                    easing: 'easeOutBounce'
                }
            },
            plugins: [ChartDataLabels]
        });
    </script>
</div>

<div class="container mt-5">


    <h1>Bienvenido al Dashboard</h1>
    <p>Desde acá podrás gestionar tus familiares</p>
    <div class="row">
        {% for familiar in familiares %}
        <div class="col-md-3">
            <div class="card mb-3">
                <img src="{{ familiar.avatar_picture.url }}" class="card-img-top" alt="Familiar Image">
                <div class="card-body">
                    <h5 class="card-title">{{ familiar.nombre_familiar }} {{ familiar.apellidos_familiar }}</h5>
                    <p class="card-text"><b>Nacimiento:</b> {{ familiar.fecha_nacimiento }} <br> <b>Fallecimiento:</b> {{ familiar.fecha_deceso }}</p>
                    <p class="card-text"><b>Parentezco:</b> {{ familiar.parentezco }}</p>
                </div>
            </div>
        </div>

    
        {% empty %}
        <p>No familiares found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
