{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Familiares List</h2>
    <div class="row">
        {% for familiar in familiares %}
        <div class="col-md-4">
            <div class="card mb-3">
                <a href="{% url 'carousel:carousel_home' familiar.id_familiar %}">
                    <img src="{{ familiar.avatar_picture.url }}" class="card-img-top" alt="Familiar Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ familiar.nombre_familiar }} {{ familiar.apellidos_familiar }}</h5>
                    <p class="card-text">Born: {{ familiar.fecha_nacimiento }} - Died: {{ familiar.fecha_deceso }}</p>
                    <p class="card-text">Relationship: {{ familiar.parentezco }}</p>
                    <a href="{% url 'carousel:edit_familiar' familiar.id_familiar %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'carousel:remove_familiar' familiar.id_familiar %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No familiares found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
